<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規会員登録 - MyPetDiary</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/auth.css}">

	<script th:src="@{/js/auth.js}" defer></script>

</head>

<body>
	<div class="container" style="text-align: center;">
		<h1>MyPetDiary 新規登録</h1>
		<p>ユーザーIDとパスワードを設定してください。</p>

		<form th:action="@{/register}" method="post">

			<div class="auth-form-group">
				<label for="username">ユーザーID:</label>
				<input type="text" id="username" name="username" required placeholder="例: petlover123"
					class="auth-input">
			</div>
			
			<div th:if="${errorMessage}" style="color: red; margin-bottom: 15px;" th:text="${errorMessage}"></div>

			<div class="auth-form-group">
				<label for="password">パスワード</label>
				<div class="password-wrapper">
					<input type="password" id="password" name="password" required class="auth-input password-input">
					<span id="togglePassword" class="password-toggle">
					🙈
					</span>
				</div>
			</div>

			<button type="submit" class="btn" style="max-width: 400px; width: 100%;">アカウントを作成する</button>
		</form>

		<hr>
		<p><a th:href="@{/login}">既にアカウントをお持ちの方はこちら</a></p>
	</div>

</body>

</html>